    {% extends 'game_session/partials/_game_session_layout.html.twig' %}

    {% block title %}Accueil de la partie multi{% endblock %}

   {% block gameSession_layout %}
   <p>HomePage la gameSession {{ gameSession.title }}</p>
    {% endblock %}
