/* Transition principale douce */
main {
    opacity: 0;
    transform: translateY(10px);
    /* très léger déplacement */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

main.fade-in {
    opacity: 1;
    transform: translateY(0);
}

main.fade-out {
    opacity: 0;
    transform: translateY(5px);
    /* léger vers le haut */
}