{% extends 'base.html.twig' %}

{% block body %}
	<div class="sticky top-0 z-50 flex justify-center gap-4 p-4 mb-12">
		<a href="{{ path('event_home', { event: event.id }) }}" class="btn-secondary px-4 py-2">Accueil</a>
		<a href="{{ path('event_needs', { event: event.id }) }}" class="btn-secondary px-4 py-2">Besoins</a>
		<a href="{{ path('event_games', { event: event.id }) }}" class="btn-secondary px-4 py-2">Akoikonjoue</a>
		<a href="{{ path('event_photo_index', { event: event.id }) }}" class="btn-secondary px-4 py-2">Photos souvenirs</a>		
	</div>

	{% block event_layout %}{% endblock %}
{% endblock %}
